# No rastrear los cambios de los siguientes archivos:
*.f90~
*.pvsm
*.vtk
*.txt
*.png
*.nsys-rep
*.sqlite
*.mod
*.ncu-proj
*.nsight-cuproj
*.nvvp
*.qdstrm
*.nsight-cuprof-report
fort.101
clang.101
test
# No rastrear los siguiente directorios:
build/
profiler/
# Los siguientes archivos y directorios si se pueden rastrear por git:
!CMakeLists.txt
!test/
!test/**
